@page "/myorders"

<div class="main">
    <TemplatedList Loader="LoaderOrders" TItem="OrderWithStatus" ListGroupClass="order-list">
        <Loading>
            <text>Cargando...</text>
        </Loading>
        <Empty>
            <h2>No se ha realizado alguna orden</h2>
            <a class="btn btn-success" href="">Ordena alguna pizza</a>
        </Empty>
        <Item Context="Item">
            <div class="col">
                <h5>@Item.Order.CreatedTime.ToLongDateString()</h5>
                Pizzas:
                <strong>@Item.Order.Pizzas.Count</strong>
                Precio total:
                <strong>$ @Item.Order.GetFormattedTotalPrice()</strong>
            </div>
            <div class="col">
                Estatus:
                <strong>@Item.StatusText</strong>
            </div>
            <div class="col text-right">
                <a href="myorders/@Item.Order.OrderId" class="btn btn-success">Rastrear &gt;</a>
            </div>
        </Item>
    </TemplatedList>
</div>
